# IntelliJ IDEA / Android Studio
*.iml
.idea/
.gradle/
.kotlinc/
.kotlin/
build/
!src/**/build/
captures/
.DS_Store

# Kotlin/Native & Multiplatform
.cxx/
.externalNativeBuild/
*.konan/
*.klib/
*.ktsc/
.kmm-cache/

# Android
*.apk
*.ap_
*.aab
*.dex
*.so
*.o
*.hprof
*.jar
*.keystore
*.map
*.hprof

# iOS / Xcode
iosApp/Pods/
iosApp/DerivedData/
iosApp/*.xcodeproj/*
!iosApp/*.xcodeproj/project.pbxproj
!iosApp/*.xcodeproj/xcshareddata/
!iosApp/*.xcodeproj/project.xcworkspace/
!iosApp/*.xcworkspace/contents.xcworkspacedata
iosApp/**/xcshareddata/WorkspaceSettings.xcsettings

# Gradle
gradle/
gradle.properties
gradlew
gradlew.bat
local.properties

# Misc
*.log
*.tmp
*.lock
